#container
{
  width:810px;
  height:650px;
  margin: 0px auto;
}
#hint
{
  width: 200px;
  height: 625px;
  float:left;
  text-align:center;
  font-size: 30px;
  border:1px solid black;
}
#letters
{
  width:600px;
  heigth:625px;
  border:1px solid black;
  float:right;
}
.individual
{
  width:40px;
  height:40px;
  float:left;
  border:1px solid black;
  border-radius:2px;
  font-size:25px;
  text-align:center;
  margin:3px;
}
